.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1771px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: auto;
    padding: 20px;

}