/* Responsive */
@media only screen and (max-width: 768px) {

  /* Page 1 */
  .page1__mainlogo {
    font-size: 32px;
    letter-spacing: 1.6px;
  }

  .page1__subtext {
    font-size: 16px;
    letter-spacing: 5.2px;
  }

  .page1__search__input::-webkit-input-placeholder {
    margin-right: 4em;
    font-size: 14px;
    letter-spacing: 1.2px;
  }

  .page1__search__input::-moz-placeholder {
    margin-right: 4em;
    font-size: 14px;
    letter-spacing: 1.2px;
  }

  .page1__search__input:-ms-input-placeholder {
    margin-right: 4em;
    font-size: 14px;
    letter-spacing: 1.2px;
  }

  .page1__search__input:-moz-placeholder {
    margin-right: 4em;
    font-size: 14px;
    letter-spacing: 1.2px;
  }

  .page2__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Page 2 */

  .page2__content {
    max-width: 90%;
    margin: 20px 0;
  }

  .page2__footbaricons {
    flex-direction: column;
    align-items: center;
    padding: 20px
  }

  .page2__pics {
    margin-right: 4rem;
  }

  .page2__crossline {
    display: none;
  }

  /* Page 5 */

  .page5__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page5__content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
  }

  .page5__subcontent {
    margin: 20px 0;
    padding: 0 10px;
  }
}

@media only screen and (max-width: 480px) {

  /* Page 1 */
  .page1__mainlogo {
    font-size: 24px;
    letter-spacing: 1.2px;
  }

  .page1__subtext {
    font-size: 14px;
    letter-spacing: 4.5px;
  }

  .page1__search__input {
    width: 60%;
    max-width: 200px;
    padding-right: 30px;
  }

  .page1__search__button {
    width: 40%;
    max-width: 100px;
    font-size: 13px;
    letter-spacing: 1px;
  }

  .page1__search__input::-webkit-input-placeholder {
    margin-right: 2em;
    font-size: 12px;
    letter-spacing: 0.8px;
  }

  .page1__search__input::-moz-placeholder {
    margin-right: 2em;
    font-size: 12px;
    letter-spacing: 0.8px;
  }

  .page1__search__input:-ms-input-placeholder {
    margin-right: 2em;
    font-size: 12px;
    letter-spacing: 0.8px;
  }

  .page1__search__input:-moz-placeholder {
    margin-right: 2em;
    font-size: 12px;
    letter-spacing: 0.8px;
  }

  /* Page 2 */
  .page2__container {
    flex-direction: column;
    align-items: center;
  }

  .page2__content {
    max-width: 90%;
    margin: 20px 0;
  }

  .page2__footbar {
    flex-direction: column;
    align-items: center;
  }

  .page2__crossline {
    display: none;
  }

  /* Page 5 */
  .page5__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

