@import 'font';
@import 'footer';
@import 'header';
@import 'main';
@import 'responsive';
@import 'sections';


body {
    font-family: 'Josefin Sans';
    font-style: normal;
    width: 100%;
    height: 100%;
    margin: auto;
}