@import 'footer';
@import 'header';
@import 'main';
@import 'sections';
@import 'responsive';


body {
    font-family: 'Josefin Sans';
    font-style: normal;
    max-width: 1800px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}